.mainContainer {
    width: 1140px;
    height: 1228px;
    margin-left: 145px;
    margin-right: 155px;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mainText {
    color: var(--Pure-White, #fff);
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 143.023%;
    width: 448px;
    height: 77px;
    margin-bottom: 65px;
    margin-top: 0px;
  }